<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add an item" name="name">
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary mb-2">+</button>
    </div>
  </div>
</form>